main {
    /* display: grid;  keine Zeit mehr gehabt für das Design */
    width: 40rem;
    height: 43rem;
    border: 3px solid black;
    margin: auto;
    text-align: center;
}

button {
    margin: 2rem;
}

#ok-btn {
    margin: 1rem;
}

#teilbar {
    color: green;
    font-size: 1.3rem;
}

#nichtTeilbar {
    color: red;
    font-size: 1.3rem;
}